## $\Large{Pandas\; 練習題}$

In [ ]:
import pandas as pd
import numpy as np

## 範例資料

In [ ]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

## Exercise 1
以上面提供的字典資料建立dataframe資料，並且命名為df

## Exercise 2
使用describe呈現df資料的基本資訊

## Exercise 3
從df資料中挑選animal與priority兩個欄位的資料

## Exercise 4
使用.loc的方式選取df資料中index為3, 4, 8且欄位為animal與age的資料

範例輸出
<img src="https://i.imgur.com/L0ErJVI.png"/>

## Exercise 5
選取df資料中age欄位非遺漏值的所有資料

範例輸出
<img src="https://i.imgur.com/6zcVSOn.png"/>

## Exercise 6
承上，在剔除掉age的遺漏資料後將df資料以age欄位由小到大排序

## Exercise 7
找出df資料中age的最大值

## Exercise 8
使用groupby方法依據priority欄位分組並計算visits的平均數

範例輸出
<img src="https://i.imgur.com/yNLji6n.png"/>

## Exercise 9
繪製df資料中animal欄位的長條圖

## Exercise 10
繪製df資料中age欄位的機率密度函數圖

---
## 範例資料 2
資料路徑: 'https://github.com/TA-aiacademy/course_3.0/releases/download/Python/airline.csv'

## Exercise 11

將下列的csv檔讀取為pandas dataFrame型態並且命名為df。檔案包含 header且第一列是index

In [ ]:
csv_path = 'https://github.com/TA-aiacademy/course_3.0/releases/download/Python/airline.csv'

## Exercise 12
承上，從df中隨機選取10筆資料印出

## Exercise 13

移除df中數值完全重複的列(rows)，並同樣存回df變數中。

## Exercise 14

印出df中每個欄位的遺漏值數量，將含有遺漏值的列(row)移除並同樣存回df變數中。

## Excerise 15

將df中第89行(index=199)的「src_airport」欄位取代為 `SFO`

## Exercise 16
 
複製一個新的資料表df2，並回傳一個和原本一模一樣的新資料表。

註：你可以試著對df作一些修改，若df2也同樣被改動代表你沒有成功複製一個新的資料表

## Exercise 17
重新編號df資料的索引使其變成連續(0, 1, 2,....)，並將舊索引存成index欄位，將執行後的資料表命名為df_new

## Exercise 18

將df資料轉換成Numpy array的物件類型，並且命名為df_np

### 請參考 [100-pandas-puzzles](https://github.com/ajcr/100-pandas-puzzles/blob/master/100-pandas-puzzles.ipynb) 做更多 pandas  的資料操作練習

以下也有許多其他資源可供大家練習Pandas或做參考。
* [10 minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)
* [pandas basics](http://pandas.pydata.org/pandas-docs/stable/basics.html)
* [tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html)
* [cookbook and idioms](http://pandas.pydata.org/pandas-docs/version/0.17.0/cookbook.html#cookbook)
* [Guilherme Samora's pandas exercises](https://github.com/guipsamora/pandas_exercises)