In [2]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np
# generate x feature encoder
encX = LabelEncoder()
encX.fit(['看電視', '讀書', '音樂', '游泳'])
# generate y feature encoder
ency = LabelEncoder()
ency.fit(['是', '否'])

LabelEncoder()

In [3]:
print(encX.classes_)  # '游泳' '看電視' '讀書' '音樂'分別會轉成0,1,2,3
print(ency.classes_)  # 否、是分別會轉成0,1

['游泳' '看電視' '讀書' '音樂']
['否' '是']

In [4]:
data_Xy = {'興趣': ['看電視', '讀書', '音樂', '看電視'], '成功與否': ['是', '否', '否', '是']}
df = pd.DataFrame(data=data_Xy, index=['小明', '小林', '小英', '小陳'])
df = df[['興趣', '成功與否']]
df

     興趣 成功與否
小明  看電視    是
小林   讀書    否
小英   音樂    否
小陳  看電視    是

In [5]:
df_encode = df.copy()
df_encode['興趣'] = encX.transform(df_encode['興趣'])
df_encode['成功與否'] = ency.transform(df_encode['成功與否'])

In [6]:
df_encode

    興趣  成功與否
小明   1     1
小林   2     0
小英   3     0
小陳   1     1

In [8]:
prediction = np.array([1, 0, 0, 1])
df['prediction'] = ency.inverse_transform(prediction)  # 將預測完的結果做反轉換
df

     興趣 成功與否 prediction
小明  看電視    是          是
小林   讀書    否          否
小英   音樂    否          否
小陳  看電視    是          是